.ItemName{
    width: 242px;
height: 16px;
left: 886px;
top: 1670px;
margin-bottom: 5px;
margin-left: 15px;
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 16px;
text-transform: capitalize;

color: #878787;

}